<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    @*<script src="~/Scripts/router.es5.js"></script>*@
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/components/main.js"></script>
    @*<script src="~/components/vehicles/vehicles.js"></script>*@
    @*<script src="~/components/controllers.js"></script>*@
    @*<script src="~/components/services.js"></script>*@
</head>
@*<body ng-app="garage" ng-controller="AppController as app">*@
<body ng-app="garage">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Garage", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Hem", "Index", "Home", new { area = "" }, null)</li>
                    <li><a ui-sref="vehicles" ui-sref-active="active">Fordon</a></li>
                    <li><a ui-sref="people"   ui-sref-active="active">Personer</a></li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <ui-view></ui-view>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
